/* style.css */

img {
    max-width: 80%;
    height: auto;
}

h1 {
    font-size: 300%;
}

p {
    max-width: 80%;
    text-align: left;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    font-size: larger;

}

/* colors chosen for color-blind accessibility: START */

a:link, a:visited {
    color: hotpink;

}

a:hover {
    color: #1a85ff;
    font-size: 110%;
}

a:active {
    color: aqua;

}

/* colors chosen for color-blind accessibility: END */

#footer {
    text-align: center;
    font-size: 90%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* || Index Page */

.main-header {
    text-align: center;
    padding-top: 30px;
    
}

.index-list {
    text-align: center;
    list-style: none;
    padding: 16px;

}

.index-item {
    padding: 3px;
}
